<a href="https://colab.research.google.com/github/vick998/Banzae-py/blob/main/Cheatsheet4_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd

In [29]:
s = pd.Series([3,-5,7,4],index=['a','b','c','d'])
s

a    3
b   -5
c    7
d    4
dtype: int64

In [30]:
data = {'Country':['Belgium','India','Brazil'],'Capital':['Brussels','New Delhi','Brasilia'],'Population':[11198846,1303171035,207847528]}
df = pd.DataFrame(data, columns=['Country','Capital','Population'])
df

   Country    Capital  Population
0  Belgium   Brussels    11198846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [31]:
s

a    3
b   -5
c    7
d    4
dtype: int64

In [32]:
s.drop(['a','c'])

b   -5
d    4
dtype: int64

In [33]:
df

   Country    Capital  Population
0  Belgium   Brussels    11198846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [34]:
df.drop('Country',axis=1)

     Capital  Population
0   Brussels    11198846
1  New Delhi  1303171035
2   Brasilia   207847528

In [35]:
help(pd.Series.loc)

Help on property:

    Access a group of rows and columns by label(s) or a boolean array.

    ``.loc[]`` is primarily label based, but may also be used with a
    boolean array.

    Allowed inputs are:

    - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
      interpreted as a *label* of the index, and **never** as an
      integer position along the index).
    - A list or array of labels, e.g. ``['a', 'b', 'c']``.
    - A slice object with labels, e.g. ``'a':'f'``.

      .. warning:: Note that contrary to usual python slices, **both** the
          start and the stop are included

    - A boolean array of the same length as the axis being sliced,
      e.g. ``[True, False, True]``.
    - An alignable boolean Series. The index of the key will be aligned before
      masking.
    - An alignable Index. The Index of the returned selection will be the input.
    - A ``callable`` function with one argument (the calling Series or
      DataFrame) and that returns valid output for indexing (one of the above)

    See more at :ref:`Selection by Label <indexing.label>`.

    Raises
    ------
    KeyError
        If any items are not found.
    IndexingError
        If an indexed key is passed and its index is unalignable to the frame index.

    See Also
    --------
    DataFrame.at : Access a single value for a row/column label pair.
    DataFrame.iloc : Access group of rows and columns by integer position(s).
    DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
        Series/DataFrame.
    Series.loc : Access group of values using labels.

    Examples
    --------
    **Getting values**

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=['cobra', 'viper', 'sidewinder'],
    ...      columns=['max_speed', 'shield'])
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4       5
    sidewinder          7       8

    Single label. Note this returns the row as a Series.

    >>> df.loc['viper']
    max_speed    4
    shield       5
    Name: viper, dtype: int64

    List of labels. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[['viper', 'sidewinder']]
                max_speed  shield
    viper               4       5
    sidewinder          7       8

    Single label for row and column

    >>> df.loc['cobra', 'shield']
    2

    Slice with labels for row and single label for column. As mentioned
    above, note that both the start and stop of the slice are included.

    >>> df.loc['cobra':'viper', 'max_speed']
    cobra    1
    viper    4
    Name: max_speed, dtype: int64

    Boolean list with the same length as the row axis

    >>> df.loc[[False, False, True]]
                max_speed  shield
    sidewinder          7       8

    Alignable boolean Series:

    >>> df.loc[pd.Series([False, True, False],
    ...        index=['viper', 'sidewinder', 'cobra'])]
                max_speed  shield
    sidewinder          7       8

    Index (same behavior as ``df.reindex``)

    >>> df.loc[pd.Index(["cobra", "viper"], name="foo")]
           max_speed  shield
    foo
    cobra          1       2
    viper          4       5

    Conditional that returns a boolean Series

    >>> df.loc[df['shield'] > 6]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series with column labels specified

    >>> df.loc[df['shield'] > 6, ['max_speed']]
                max_speed
    sidewinder          7

    Callable that returns a boolean Series

    >>> df.loc[lambda df: df['shield'] == 8]
                max_speed  shield
    sidewinder          7       8

    **Setting values**

    Set value for all items matching the list of labels

    >>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4      50
    sidewinder          7      50

    Set value for an entire row

    >>> df.loc['cobra'] = 10
    >>> df
                max_speed  shield
    cobra              10      10
    viper               4      50
    sidewinder          7      50

    Set value for an entire column

    >>> df.loc[:, 'max_speed'] = 30
    >>> df
                max_speed  shield
    cobra              30      10
    viper              30      50
    sidewinder         30      50

    Set value for rows matching callable condition

    >>> df.loc[df['shield'] > 35] = 0
    >>> df
                max_speed  shield
    cobra              30      10
    viper               0       0
    sidewinder          0       0

    **Getting values on a DataFrame with an index that has integer labels**

    Another example using integers for the index

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=[7, 8, 9], columns=['max_speed', 'shield'])
    >>> df
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    Slice with integer labels for rows. As mentioned above, note that both
    the start and stop of the slice are included.

    >>> df.loc[7:9]
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    **Getting values with a MultiIndex**

    A number of examples using a DataFrame with a MultiIndex

    >>> tuples = [
    ...    ('cobra', 'mark i'), ('cobra', 'mark ii'),
    ...    ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
    ...    ('viper', 'mark ii'), ('viper', 'mark iii')
    ... ]
    >>> index = pd.MultiIndex.from_tuples(tuples)
    >>> values = [[12, 2], [0, 4], [10, 20],
    ...         [1, 4], [7, 1], [16, 36]]
    >>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
    >>> df
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Single label. Note this returns a DataFrame with a single index.

    >>> df.loc['cobra']
             max_speed  shield
    mark i          12       2
    mark ii          0       4

    Single index tuple. Note this returns a Series.

    >>> df.loc[('cobra', 'mark ii')]
    max_speed    0
    shield       4
    Name: (cobra, mark ii), dtype: int64

    Single label for row and column. Similar to passing in a tuple, this
    returns a Series.

    >>> df.loc['cobra', 'mark i']
    max_speed    12
    shield        2
    Name: (cobra, mark i), dtype: int64

    Single tuple. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[[('cobra', 'mark ii')]]
                   max_speed  shield
    cobra mark ii          0       4

    Single tuple for the index with a single label for the column

    >>> df.loc[('cobra', 'mark i'), 'shield']
    2

    Slice from index tuple to single label

    >>> df.loc[('cobra', 'mark i'):'viper']
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Slice from index tuple to index tuple

    >>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                        max_speed  shield
    cobra      mark i          12       2
               mark ii          0       4
    sidewinder mark i          10      20
               mark ii          1       4
    viper      mark ii          7       1

In [36]:
df

   Country    Capital  Population
0  Belgium   Brussels    11198846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [37]:
df.sort_index()

   Country    Capital  Population
0  Belgium   Brussels    11198846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [38]:
df.sort_values(by='Country')

   Country    Capital  Population
0  Belgium   Brussels    11198846
2   Brazil   Brasilia   207847528
1    India  New Delhi  1303171035

In [39]:
df

   Country    Capital  Population
0  Belgium   Brussels    11198846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [40]:
df.rank()

   Country  Capital  Population
0      1.0      2.0         1.0
1      3.0      3.0         3.0
2      2.0      1.0         2.0

In [41]:
#pd.read_csv('file.csv',header=None,nrows=5)
#read first 5 rows

In [42]:
df.to_csv('myDataFrame.csv')
#write

In [43]:
#pd.read_excel('file.xlsx')
#read excel

In [44]:
df.to_excel('myDataFrame.xlsx',sheet_name='Sheet1')
#write

In [45]:
#xlsx=pd.ExcelFile('file.xls')
#read local excel

In [46]:
#df=pd.read_excel(xlsx,'Sheet1')
#turn sheet into DF

In [47]:
from sqlalchemy import create_engine

In [48]:
#engine = create_engine('sqlite///:memory:')
#connect to db at url

In [49]:
#pd.read_sql('SELECT * FROM my_table;',engine)
#read sql table into df

In [50]:
#pd.read_sql_table('my_table',engine)

In [51]:
#pd.read_sql_query('SELECT * FROM my_table;',engine)

In [52]:
#df.to_sql('myDf',engine)
#read df into sql db

In [57]:
s

a    3
b   -5
c    7
d    4
dtype: int64

In [53]:
s['b']

-5

In [59]:
df

   Country    Capital  Population
0  Belgium   Brussels    11198846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [63]:
df[1:]

  Country    Capital  Population
1   India  New Delhi  1303171035
2  Brazil   Brasilia   207847528

In [64]:
df.iloc[[0],[0]]

   Country
0  Belgium

In [70]:
df.iat[0,0]='Netherlands'

In [71]:
df

       Country    Capital  Population
0  Netherlands   Brussels    11198846
1        India  New Delhi  1303171035
2       Brazil   Brasilia   207847528

In [72]:
df.loc[[0],['Country']]

       Country
0  Netherlands

In [76]:
df.at[0:1,'Country']='Belgium'

In [77]:
df

   Country    Capital  Population
0  Belgium   Brussels    11198846
1  Belgium  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [80]:
#df.ix[2]
#deprecated

In [81]:
#df.ix[:,'Capital']
#deprecated

In [82]:
#df.ix[1,'Capital']
#deprecated

In [84]:
s

a    3
b   -5
c    7
d    4
dtype: int64

In [83]:
s[~(s>1)]

b   -5
dtype: int64

In [87]:
s[(s<-1)|(s>4)]
# | = and

b   -5
c    7
dtype: int64

In [86]:
df = pd.DataFrame(data, columns=['Country','Capital','Population'])
df

   Country    Capital  Population
0  Belgium   Brussels    11198846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [89]:
df[df.Population>1200000000]

  Country    Capital  Population
1   India  New Delhi  1303171035

In [90]:
s['a']

3

In [91]:
df.shape

(3, 3)

In [92]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [93]:
df

   Country    Capital  Population
0  Belgium   Brussels    11198846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [94]:
df.columns

Index(['Country', 'Capital', 'Population'], dtype='object')

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     3 non-null      object
 1   Capital     3 non-null      object
 2   Population  3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [96]:
df.count()

Country       3
Capital       3
Population    3
dtype: int64

In [97]:
df.sum()

Country              BelgiumIndiaBrazil
Capital       BrusselsNew DelhiBrasilia
Population                   1522217409
dtype: object

In [107]:
df

   Country    Capital  Population
0  Belgium   Brussels    11198846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [98]:
df.cumsum()

              Country                    Capital  Population
0             Belgium                   Brussels    11198846
1        BelgiumIndia          BrusselsNew Delhi  1314369881
2  BelgiumIndiaBrazil  BrusselsNew DelhiBrasilia  1522217409

In [99]:
df.min()

Country        Belgium
Capital       Brasilia
Population    11198846
dtype: object

In [100]:
df.max()

Country            India
Capital        New Delhi
Population    1303171035
dtype: object

In [105]:
df

   Country    Capital  Population
0  Belgium   Brussels    11198846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [108]:
df.Population.idxmin()

0

In [109]:
df.Population.idxmax()
#not functional with str

1

In [110]:
df.describe()

         Population
count  3.000000e+00
mean   5.074058e+08
std    6.961317e+08
min    1.119885e+07
25%    1.095232e+08
50%    2.078475e+08
75%    7.555093e+08
max    1.303171e+09

In [111]:
df

   Country    Capital  Population
0  Belgium   Brussels    11198846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [114]:
df.Population.mean()

507405803.0

In [115]:
df.Population.median()

207847528.0

In [118]:
df

   Country    Capital  Population
0  Belgium   Brussels    11198846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [116]:
f=lambda x: x*2

In [117]:
df.apply(f)

          Country             Capital  Population
0  BelgiumBelgium    BrusselsBrussels    22397692
1      IndiaIndia  New DelhiNew Delhi  2606342070
2    BrazilBrazil    BrasiliaBrasilia   415695056

In [119]:
df.applymap(f)
#recheck

          Country             Capital  Population
0  BelgiumBelgium    BrusselsBrussels    22397692
1      IndiaIndia  New DelhiNew Delhi  2606342070
2    BrazilBrazil    BrasiliaBrasilia   415695056

In [121]:
s3=pd.Series([7,-2,3],index=['a','b','c'])
s3

a    7
b   -2
c    3
dtype: int64

In [122]:
s

a    3
b   -5
c    7
d    4
dtype: int64

In [123]:
s+s3

a    10.0
b    -7.0
c    10.0
d     NaN
dtype: float64

In [124]:
s.add(s3,fill_value=0)

a    10.0
b    -7.0
c    10.0
d     4.0
dtype: float64

In [126]:
s,s3

(a    3
 b   -5
 c    7
 d    4
 dtype: int64, a    7
 b   -2
 c    3
 dtype: int64)

In [125]:
s.sub(s3,fill_value=2)

a   -4.0
b   -3.0
c    4.0
d    2.0
dtype: float64

In [127]:
s.div(s3,fill_value=4)

a    0.428571
b    2.500000
c    2.333333
d    1.000000
dtype: float64

In [128]:
s.mul(s3,fill_value=3)

a    21.0
b    10.0
c    21.0
d    12.0
dtype: float64