<a href="https://colab.research.google.com/github/vick998/Banzae-py/blob/main/Cheatsheet_str_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])
s

0             Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
dtype: object

In [ ]:
s.str.lower()

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      stevesmith
dtype: object

In [ ]:
s.str.upper()

0             TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6      STEVESMITH
dtype: object

In [ ]:
s.str.len()

0     3.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
dtype: float64

In [ ]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
s.str.strip()

0             Tom
1    William Rick
2            John
3         Alber@t
dtype: object

In [ ]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
s.str.split(' ')

0              [Tom, ]
1    [, William, Rick]
2               [John]
3            [Alber@t]
dtype: object

In [ ]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
s.str.cat(sep='_')

'Tom _ William Rick_John_Alber@t'

In [ ]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
s.str.get_dummies()

    William Rick  Alber@t  John  Tom
0              0        0     0     1
1              1        0     0     0
2              0        0     1     0
3              0        1     0     0

In [43]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
s[s.str.contains(' ')]

0             Tom
1     William Rick
dtype: object

In [45]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
s.str.replace('@','$')

0             Tom
1     William Rick
2             John
3          Alber$t
dtype: object

In [ ]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
s.str.repeat(2)

0                      Tom Tom
1     William Rick William Rick
2                      JohnJohn
3                Alber@tAlber@t
dtype: object

In [ ]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
s.str.count('m')

0    1
1    1
2    0
3    0
dtype: int64

In [46]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
s[s.str.startswith('T')]

0    Tom
dtype: object

In [47]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
s.str.endswith('t')

0    False
1    False
2    False
3     True
dtype: bool

In [49]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
s.str.find('e')

0   -1
1   -1
2   -1
3    3
dtype: int64

In [50]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
s.str.findall('e')

0     []
1     []
2     []
3    [e]
dtype: object

In [51]:
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])
s.str.swapcase()

0             tOM
1    wILLIAM rICK
2            jOHN
3         aLBER@T
dtype: object

In [54]:
s = pd.Series(['tom', 'William Rick', 'John', 'Alber@t'])
s[s.str.islower()]

0    tom
dtype: object

In [ ]:
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])
s.str.isupper()

0    False
1    False
2    False
3    False
dtype: bool

In [55]:
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])
s.str.isnumeric()

0    False
1    False
2    False
3    False
dtype: bool

In [56]:
# Let's create a Dataframe
df = pd.DataFrame({'City':['New York', 'Parague', 'New Delhi', 'Venice', 'new Orleans'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy', 'Tech_Summit'],
                    'Cost':[10000, 5000, 15000, 2000, 12000]})

In [57]:
# Let's create the index
index_ = [pd.Period('02-2018'), pd.Period('04-2018'),
          pd.Period('06-2018'), pd.Period('10-2018'), pd.Period('12-2018')]

In [58]:
# Set the index
df.index = index_
df

                City        Event   Cost
2018-02     New York        Music  10000
2018-04      Parague       Poetry   5000
2018-06    New Delhi      Theatre  15000
2018-10       Venice       Comedy   2000
2018-12  new Orleans  Tech_Summit  12000

In [60]:
# replace the matching strings
df_updated = df.replace(to_replace ='[nN]ew', value = 'New_', regex = True)
df_updated

                 City        Event   Cost
2018-02     New_ York        Music  10000
2018-04       Parague       Poetry   5000
2018-06    New_ Delhi      Theatre  15000
2018-10        Venice       Comedy   2000
2018-12  New_ Orleans  Tech_Summit  12000

In [61]:
df = pd.DataFrame({'City':['New York (City)', 'Parague', 'New Delhi (Delhi)', 'Venice', 'new Orleans'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy', 'Tech_Summit'],
                    'Cost':[10000, 5000, 15000, 2000, 12000]})

In [62]:
# Let's create the index
index_ = [pd.Period('02-2018'), pd.Period('04-2018'),
          pd.Period('06-2018'), pd.Period('10-2018'), pd.Period('12-2018')]

In [63]:
# Set the index
df.index = index_
df

                      City        Event   Cost
2018-02    New York (City)        Music  10000
2018-04            Parague       Poetry   5000
2018-06  New Delhi (Delhi)      Theatre  15000
2018-10             Venice       Comedy   2000
2018-12        new Orleans  Tech_Summit  12000

In [64]:
import re
# Function to clean the names
def Clean_names(City_name):
    # Search for opening bracket in the name followed by
    # any characters repeated any number of times
    if re.search('\(.*', City_name):
  
        # Extract the position of beginning of pattern
        pos = re.search('\(.*', City_name).start()
  
        # return the cleaned name
        return City_name[:pos]
  
    else:
        # if clean up needed return the same name
        return City_name

In [65]:
# Updated the city columns
df['City'] = df['City'].apply(Clean_names)

In [66]:
df

                City        Event   Cost
2018-02    New York         Music  10000
2018-04      Parague       Poetry   5000
2018-06   New Delhi       Theatre  15000
2018-10       Venice       Comedy   2000
2018-12  new Orleans  Tech_Summit  12000