<a href="https://colab.research.google.com/github/vick998/Banzae-py/blob/main/Cheatsheet2_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [113]:
import pandas as pd
import numpy as np

In [114]:
df = pd.DataFrame({'a':[4,5,6],'b':[7,8,9],'c':[10,11,12]},index=[1,2,3])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [115]:
df1 = pd.DataFrame([[4,7,10],[5,8,11],[6,9,12]],index=[1,2,3],columns=['a','b','c'])
df1

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [35]:
index = pd.MultiIndex.from_tuples([('x','d',1),('x','d',2),('x','e',2)],names=['s','n','v'])
df2 = pd.DataFrame({'a':[4,5,6],'b':[7,8,9],'c':[10,11,12]},index=index)
df2

       a  b   c
s n v
x d 1  4  7  10
    2  5  8  11
  e 2  6  9  12

In [170]:
df3 = pd.DataFrame([[4,7,float('NAN')],[5,float('NAN'),float('NAN')],[float('NAN'),float('NAN'),float('NAN')]],index=[1,2,3],columns=['A','B','C'])
df3

     A    B   C
1  4.0  7.0 NaN
2  5.0  NaN NaN
3  NaN  NaN NaN

In [67]:
for i in range(3):
  for k in range(3):
    df.iloc[i,k]*=100
df
df0 = (pd.melt(df).rename(columns={'variable':'var','value':'val'}).query('val >= 200'))
df0

  var   val
0   a   400
1   a   500
2   a   600
3   b   700
4   b   800
5   b   900
6   c  1000
7   c  1100
8   c  1200

In [45]:
df.melt()

  variable  value
0        a      4
1        a      5
2        a      6
3        b      7
4        b      8
5        b      9
6        c     10
7        c     11
8        c     12

In [64]:
df0.pivot(columns='var',values='val')

var      a      b       c
0    400.0    NaN     NaN
1    500.0    NaN     NaN
2    600.0    NaN     NaN
3      NaN  700.0     NaN
4      NaN  800.0     NaN
5      NaN  900.0     NaN
6      NaN    NaN  1000.0
7      NaN    NaN  1100.0
8      NaN    NaN  1200.0

In [85]:
df11 = pd.concat([df1,df])
df11

     a    b     c
1    4    7    10
2    5    8    11
3    6    9    12
1  400  700  1000
2  500  800  1100
3  600  900  1200

In [76]:
pd.concat([df1,df],axis=1)

   a  b   c    a    b     c
1  4  7  10  400  700  1000
2  5  8  11  500  800  1100
3  6  9  12  600  900  1200

In [83]:
df11.sort_values(by=['a'],ascending=False)

     a    b     c
3  600  900  1200
2  500  800  1100
1  400  700  1000
3    6    9    12
2    5    8    11
1    4    7    10

In [84]:
df11.sort_values(by=['a'])

     a    b     c
1    4    7    10
2    5    8    11
3    6    9    12
1  400  700  1000
2  500  800  1100
3  600  900  1200

In [101]:
df12=df11.rename(columns={'a':'A','b':'B','c':'C'})
df12

     A    B     C
1    4    7    10
2    5    8    11
3    6    9    12
1  400  700  1000
2  500  800  1100
3  600  900  1200

In [90]:
df11.sort_index()

     a    b     c
1    4    7    10
1  400  700  1000
2    5    8    11
2  500  800  1100
3    6    9    12
3  600  900  1200

In [102]:
df12=df12.reset_index()
df12

   index    A    B     C
0      1    4    7    10
1      2    5    8    11
2      3    6    9    12
3      1  400  700  1000
4      2  500  800  1100
5      3  600  900  1200

In [103]:
df12=df12.drop(columns='index')
df12

     A    B     C
0    4    7    10
1    5    8    11
2    6    9    12
3  400  700  1000
4  500  800  1100
5  600  900  1200

In [171]:
df31=pd.concat([df1,df3],axis=1)
df31

   a  b   c    A    B   C
1  4  7  10  4.0  7.0 NaN
2  5  8  11  5.0  NaN NaN
3  6  9  12  NaN  NaN NaN

In [112]:
df31[df31.Length>5]

AttributeError: ignored

In [117]:
df13 = pd.concat([df,df1])
df13

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12
1  4  7  10
2  5  8  11
3  6  9  12

In [164]:
df14 = pd.concat([df,df1],axis=1)
df14

   a  b   c  a  b   c
1  4  7  10  4  7  10
2  5  8  11  5  8  11
3  6  9  12  6  9  12

In [172]:
df13.drop_duplicates()

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [119]:
df14.drop_duplicates()

   a  b   c  a  b   c
1  4  7  10  4  7  10
2  5  8  11  5  8  11
3  6  9  12  6  9  12

In [124]:
df.sample(frac=0.3)

   a  b   c
2  5  8  11

In [129]:
df.sample(2)

   a  b   c
1  4  7  10
3  6  9  12

In [137]:
df.iloc[0,0:3]

a     4
b     7
c    10
Name: 1, dtype: int64

In [145]:
df12.nlargest(5,'A')

     A    B     C
5  600  900  1200
4  500  800  1100
3  400  700  1000
2    6    9    12
1    5    8    11

In [146]:
df12.nsmallest(5,'A')

     A    B     C
0    4    7    10
1    5    8    11
2    6    9    12
3  400  700  1000
4  500  800  1100

In [152]:
df['a'].isin([5,6])

1    False
2     True
3     True
Name: a, dtype: bool

In [153]:
df.isin([5])

       a      b      c
1  False  False  False
2   True  False  False
3  False  False  False

In [154]:
pd.isnull(df)

       a      b      c
1  False  False  False
2  False  False  False
3  False  False  False

In [155]:
pd.isnull(df3)

       a      b     c
1  False  False  True
2  False   True  True
3   True   True  True

In [156]:
pd.notnull(df3b)

       a      b      c
1   True   True  False
2   True  False  False
3  False  False  False

In [158]:
df.b

1    7
2    8
3    9
Name: b, dtype: int64

In [160]:
df.filter(regex='^a')

   a
1  4
2  5
3  6

In [163]:
df[['a','c']]

   a   c
1  4  10
2  5  11
3  6  12

In [168]:
df14.iloc[:,2:4]

    c  a
1  10  4
2  11  5
3  12  6

In [169]:
df14.iloc[:,[1,5,3]]

   b   c  a
1  7  10  4
2  8  11  5
3  9  12  6

In [174]:
df31.loc[:,'a':'A']

   a  b   c    A
1  4  7  10  4.0
2  5  8  11  5.0
3  6  9  12  NaN

In [175]:
df31.loc[df31.a>5,'c':'B']

    c   A   B
3  12 NaN NaN