<a href="https://colab.research.google.com/github/vick998/Banzae-py/blob/main/Cheatsheet_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [265]:
import pandas as pd
import numpy as np

In [266]:
dict1 = {'col1':['a','b','c','a','b','c','a','b','c'], 'col2':['R','G','B','B','R','G','G','B','R'], 'col3':[0,1.12,2.23,3.34,4.45,5.56,6.67,7.78,float('NaN')]}
dict2 = {'col1':[0.1,1.13,2.24], 'col2':[3.35,4.46,5.57], 'col3':[6.68,7.79,float('NaN')]}

In [267]:
df1 = pd.DataFrame(data=dict1)
df2 = pd.DataFrame(data=dict2)

In [52]:
df1.pivot(columns=['col1','col2'], values='col3')

col1    a     b     c     a     b     c     a     b     c
col2    R     G     B     B     R     G     G     B     R
0     0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1     NaN  1.12   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2     NaN   NaN  2.23   NaN   NaN   NaN   NaN   NaN   NaN
3     NaN   NaN   NaN  3.34   NaN   NaN   NaN   NaN   NaN
4     NaN   NaN   NaN   NaN  4.45   NaN   NaN   NaN   NaN
5     NaN   NaN   NaN   NaN   NaN  5.56   NaN   NaN   NaN
6     NaN   NaN   NaN   NaN   NaN   NaN  6.67   NaN   NaN
7     NaN   NaN   NaN   NaN   NaN   NaN   NaN  7.78   NaN
8     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  8.89

In [55]:
pd.pivot_table(df1,columns=['col1','col2'],values='col3')

col1     a                b                 c
col2     B     G    R     B     G     R     B     G     R
col3  3.34  6.67  0.0  7.78  1.12  4.45  2.23  5.56  8.89

In [57]:
df1piv = df1.pivot(index='col1', columns='col2', values='col3')
df1piv

col2     B     G     R
col1
a     3.34  6.67  0.00
b     7.78  1.12  4.45
c     2.23  5.56  8.89

In [58]:
df1piv.stack()

col1  col2
a     B       3.34
      G       6.67
      R       0.00
b     B       7.78
      G       1.12
      R       4.45
c     B       2.23
      G       5.56
      R       8.89
dtype: float64

In [60]:
pd.melt(df1,id_vars='col1',value_vars=['col2','col3'],value_name='Observations')

   col1 variable Observations
0     a     col2            R
1     b     col2            G
2     c     col2            B
3     a     col2            B
4     b     col2            R
5     c     col2            G
6     a     col2            G
7     b     col2            B
8     c     col2            R
9     a     col3          0.0
10    b     col3         1.12
11    c     col3         2.23
12    a     col3         3.34
13    b     col3         4.45
14    c     col3         5.56
15    a     col3         6.67
16    b     col3         7.78
17    c     col3         8.89

In [63]:
df1.iterrows()

In [83]:
df1piv

col2     B     G     R
col1
a     3.34  6.67  0.00
b     7.78  1.12  4.45
c     2.23  5.56  8.89

In [100]:
df1piv.loc[:,(df1piv>6).all()]

Empty DataFrame
Columns: []
Index: [a, b, c]

In [104]:
df1piv.loc[(df1piv>0).any(),:]

IndexingError: ignored

In [123]:
df2.loc[1:,df2.notnull().all()]

   col1  col2
1  1.13  4.46
2  2.24  5.57

In [127]:
df1[df1.col3.isin(df2.col3)]

  col1 col2  col3
8    c    R   NaN

In [138]:
df1.filter(items=["col1"])

  col1
0    a
1    b
2    c
3    a
4    b
5    c
6    a
7    b
8    c

In [142]:
df1.select(lambda x: not x==0)

ValueError: ignored

In [156]:
df1.where(df1>3,10)

TypeError: ignored

In [182]:
df1.set_index('col1')

     col2  col3
col1
a       R  0.00
b       G  1.12
c       B  2.23
a       B  3.34
b       R  4.45
c       G  5.56
a       G  6.67
b       B  7.78
c       R   NaN

In [183]:
df3 = df1.reset_index()
df3

   index col1 col2  col3
0      0    a    R  0.00
1      1    b    G  1.12
2      2    c    B  2.23
3      3    a    B  3.34
4      4    b    R  4.45
5      5    c    G  5.56
6      6    a    G  6.67
7      7    b    B  7.78
8      8    c    R   NaN

In [184]:
df31 = df3.set_index('col1')
df31

      index col2  col3
col1
a         0    R  0.00
b         1    G  1.12
c         2    B  2.23
a         3    B  3.34
b         4    R  4.45
c         5    G  5.56
a         6    G  6.67
b         7    B  7.78
c         8    R   NaN

In [186]:
df31 = df31.rename(index={'a':'x','b':'y','c':'z'}, columns={'index':'col0','col2':'col1','col3':'col2'})
df31

      col0  col1  col1
col1
x        0     R  0.00
y        1     G  1.12
z        2     B  2.23
x        3     B  3.34
y        4     R  4.45
z        5     G  5.56
x        6     G  6.67
y        7     B  7.78
z        8     R   NaN

In [198]:
df32=df1.reindex([1,3,2,4,6,5,8,7,9])
df32

  col1 col2  col3
1    b    G  1.12
3    a    B  3.34
2    c    B  2.23
4    b    R  4.45
6    a    G  6.67
5    c    G  5.56
8    c    R   NaN
7    b    B  7.78
9  NaN  NaN   NaN

In [215]:
arrays = [np.array([1,2,3]),np.array([5,4,3])]
arrays
df5 = pd.DataFrame(np.random.rand(3,2),index=arrays)
df5
tuples = list(zip(*arrays))
tuples
index=pd.MultiIndex.from_tuples(tuples, names=['first','second'])
index
df6=pd.DataFrame(np.random.rand(3,2),index=index)
df6

                     0         1
first second
1     5       0.902649  0.696961
2     4       0.734134  0.957047
3     3       0.859970  0.305333

In [229]:
df1['col2'].unique()
df1['col3'].duplicated()
df1.index.duplicated()
df1.drop_duplicates('col2',keep="last")

  col1 col2  col3
6    a    G  6.67
7    b    B  7.78
8    c    R   NaN

In [251]:
df1.groupby(by='col2').sum()
df1.groupby(by='col2').mean()
df1.groupby(level=0).mean()
df1.groupby(level=0).agg({'col1':lambda x:sum(x)/len(x),'col2':np.sum})

/usr/local/lib/python3.7/dist-packages/pandas/core/apply.py:436: FutureWarning: Dropping invalid columns in SeriesGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the aggregating function.
  key: obj._gotitem(key, ndim=1).agg(how) for key, how in arg.items()

TypeError: ignored

In [260]:
customSum = lambda x: (x+x%2)
df1.groupby(level=0).transform(customSum)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the transforming function.

   col3
0  0.00
1  2.24
2  2.46
3  4.68
4  4.90
5  7.12
6  7.34
7  9.56
8   NaN

In [261]:
df2.dropna()

   col1  col2  col3
0  0.10  3.35  6.68
1  1.13  4.46  7.79

In [262]:
df2.fillna(df2.mean())

   col1  col2   col3
0  0.10  3.35  6.680
1  1.13  4.46  7.790
2  2.24  5.57  7.235

In [263]:
df2.replace(2.24,15.5)

    col1  col2  col3
0   0.10  3.35  6.68
1   1.13  4.46  7.79
2  15.50  5.57   NaN

In [269]:
df1s = df1.head(3)
df1s
df2

   col1  col2  col3
0  0.10  3.35  6.68
1  1.13  4.46  7.79
2  2.24  5.57   NaN

In [281]:
dict3 = {'X1':['a','b','c'],'X2':[11.432,1.303,99.906]}
dict4 = {'X1':['a','b','d'],'X3':[20.784,float("NaN"),20.784]}
x1=pd.DataFrame(data=dict3)
x2=pd.DataFrame(data=dict4)

pd.merge(x1,x2,how='left',on='X1')

  X1      X2      X3
0  a  11.432  20.784
1  b   1.303     NaN
2  c  99.906     NaN

In [282]:
x1.join(x2, how='right')

ValueError: ignored

In [283]:
x1.append(x2)

  X1      X2      X3
0  a  11.432     NaN
1  b   1.303     NaN
2  c  99.906     NaN
0  a     NaN  20.784
1  b     NaN     NaN
2  d     NaN  20.784

In [284]:
pd.concat([x1,x2],axis=1,join='inner')

  X1      X2 X1      X3
0  a  11.432  a  20.784
1  b   1.303  b     NaN
2  c  99.906  d  20.784

In [285]:
pd.concat([x1,x2],axis=1,keys["One","Two"])

SyntaxError: ignored