<a href="https://colab.research.google.com/github/vick998/Banzae-py/blob/main/Copy_of_Exercises_Chipotle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np
#import requests
#import io

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [ ]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo=pd.read_csv(url, sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [ ]:
chipo.head(10)

126

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1

len(chipo.index.array)

4622

In [ ]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [ ]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

In [ ]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [ ]:
for i in chipo.columns:
  print(i)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [ ]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [ ]:
chipo2 = chipo.groupby('item_name')
#chipo2.head(1).index[0][0]
chipo2.describe()

                                      order_id                           \
                                         count         mean         std
item_name
6 Pack Soft Drink                         54.0   968.925926  537.830402
Barbacoa Bowl                             66.0   817.757576  538.969246
Barbacoa Burrito                          91.0   821.076923  555.170029
Barbacoa Crispy Tacos                     11.0   510.272727  421.439934
Barbacoa Salad Bowl                       10.0   970.800000  450.374363
Barbacoa Soft Tacos                       25.0   749.000000  465.655094
Bottled Water                            162.0  1086.074074  488.464390
Bowl                                       2.0   236.000000   60.811183
Burrito                                    6.0   258.333333   49.078169
Canned Soda                              104.0   734.576923  534.727400
Canned Soft Drink                        301.0  1012.468439  544.687106
Carnitas Bowl                             68.0   922.676471  509.253315
Carnitas Burrito                          59.0   875.457627  556.825743
Carnitas Crispy Tacos                      7.0   838.285714  592.813269
Carnitas Salad                             1.0  1500.000000         NaN
Carnitas Salad Bowl                        6.0  1115.500000  458.401025
Carnitas Soft Tacos                       40.0   941.825000  504.494207
Chicken Bowl                             726.0   983.369146  503.756650
Chicken Burrito                          553.0   899.282098  528.027208
Chicken Crispy Tacos                      47.0  1008.127660  500.469763
Chicken Salad                              9.0  1162.777778  531.935094
Chicken Salad Bowl                       110.0  1064.581818  527.530831
Chicken Soft Tacos                       115.0   855.608696  515.408213
Chips                                    211.0   985.800948  520.863247
Chips and Fresh Tomato Salsa             110.0   912.900000  520.915354
Chips and Guacamole                      479.0   939.371608  552.857597
Chips and Mild Fresh Tomato Salsa          1.0   279.000000         NaN
Chips and Roasted Chili Corn Salsa        22.0   681.772727  363.929079
Chips and Roasted Chili-Corn Salsa        18.0   970.111111  418.975205
Chips and Tomatillo Green Chili Salsa     43.0   957.441860  585.679146
Chips and Tomatillo Red Chili Salsa       48.0   949.083333  480.451022
Chips and Tomatillo-Green Chili Salsa     31.0   704.064516  577.815711
Chips and Tomatillo-Red Chili Salsa       20.0   917.200000  473.610722
Crispy Tacos                               2.0   217.000000    0.000000
Izze                                      20.0   529.350000  452.844492
Nantucket Nectar                          27.0   807.925926  530.078436
Salad                                      2.0   575.000000    0.000000
Side of Chips                            101.0   839.297030  476.118925
Steak Bowl                               211.0   918.255924  500.217106
Steak Burrito                            368.0   892.491848  538.512954
Steak Crispy Tacos                        35.0  1023.371429  501.807972
Steak Salad                                4.0   590.500000  545.017737
Steak Salad Bowl                          29.0  1020.344828  540.599817
Steak Soft Tacos                          55.0   912.309091  614.537793
Veggie Bowl                               85.0   850.235294  527.307303
Veggie Burrito                            95.0   852.231579  520.757293
Veggie Crispy Tacos                        1.0   668.000000         NaN
Veggie Salad                               6.0  1210.833333  318.122880
Veggie Salad Bowl                         18.0   961.277778  613.598240
Veggie Soft Tacos                          7.0   788.571429  456.184852

                                                                         \
                                          min      25%     50%      75%
item_name
6 Pack Soft Drink                       129.0   488.50   922.0  1473.50
Barbacoa Bowl                            19.0   428.75   690.5  1259.25
Barbacoa Burrito                         11.0   302.50   748.0  1286.50
Barbacoa Crispy Tacos                    75.0   195.50   343.0   762.00
Barbacoa Salad Bowl                     501.0   576.00   854.0  1330.25
Barbacoa Soft Tacos                      26.0   467.00   675.0   966.00
Bottled Water                            17.0   753.00  1082.0  1513.00
Bowl                                    193.0   214.50   236.0   257.50
Burrito                                 214.0   214.75   248.0   304.50
Canned Soda                               9.0   186.00   701.0  1205.75
Canned Soft Drink                       114.0   546.00   989.0  1563.00
Carnitas Bowl                            17.0   548.75   928.0  1205.00
Carnitas Burrito                         14.0   397.00   844.0  1377.50
Carnitas Crispy Tacos                   230.0   451.50   658.0  1151.50
Carnitas Salad                         1500.0  1500.00  1500.0  1500.00
Carnitas Salad Bowl                     468.0   825.75  1139.0  1435.00
Carnitas Soft Tacos                     103.0   578.50   897.0  1367.25
Chicken Bowl                              2.0   599.50   974.5  1411.00
Chicken Burrito                           8.0   462.00   895.0  1378.00
Chicken Crispy Tacos                      6.0   486.00  1156.0  1342.00
Chicken Salad                           109.0  1181.00  1349.0  1491.00
Chicken Salad Bowl                       20.0   650.25  1160.0  1508.50
Chicken Soft Tacos                        6.0   430.50   824.0  1242.00
Chips                                    19.0   607.00   952.0  1448.00
Chips and Fresh Tomato Salsa              1.0   502.00   931.0  1370.00
Chips and Guacamole                       5.0   457.50   949.0  1444.00
Chips and Mild Fresh Tomato Salsa       279.0   279.00   279.0   279.00
Chips and Roasted Chili Corn Salsa      102.0   448.75   609.5   899.25
Chips and Roasted Chili-Corn Salsa       85.0   698.75  1050.0  1280.75
Chips and Tomatillo Green Chili Salsa    18.0   428.50   922.0  1490.00
Chips and Tomatillo Red Chili Salsa      49.0   669.00   873.0  1334.25
Chips and Tomatillo-Green Chili Salsa     1.0   103.00   513.0  1292.00
Chips and Tomatillo-Red Chili Salsa     130.0   589.25   910.5  1318.50
Crispy Tacos                            217.0   217.00   217.0   217.00
Izze                                      1.0   155.00   465.5   891.50
Nantucket Nectar                          1.0   314.00   947.0  1152.50
Salad                                   575.0   575.00   575.0   575.00
Side of Chips                             3.0   424.00   895.0  1238.00
Steak Bowl                               25.0   503.50   915.0  1305.00
Steak Burrito                             4.0   413.75   891.0  1366.00
Steak Crispy Tacos                       40.0   565.50  1129.0  1425.50
Steak Salad                             276.0   302.25   340.0   628.25
Steak Salad Bowl                        123.0   612.00  1042.0  1403.00
Steak Soft Tacos                          4.0   220.50   973.0  1483.00
Veggie Bowl                              28.0   367.00   818.0  1255.00
Veggie Burrito                           26.0   364.50   801.0  1303.00
Veggie Crispy Tacos                     668.0   668.00   668.0   668.00
Veggie Salad                            686.0  1118.50  1227.5  1362.00
Veggie Salad Bowl                        83.0   429.50   904.5  1564.75
Veggie Soft Tacos                       304.0   444.50   688.0  1040.00

                                              quantity                      \
                                          max    count      mean       std
item_name
6 Pack Soft Drink                      1803.0     54.0  1.018519  0.136083
Barbacoa Bowl                          1825.0     66.0  1.000000  0.000000
Barbacoa Burrito                       1827.0     91.0  1.000000  0.000000
Barbacoa Crispy Tacos                  1330.0     11.0  1.090909  0.301511
Barbacoa Salad Bowl                    1751.0     10.0  1.000000  0.000000
Barbacoa Soft Tacos                    1703.0     25.0  1.000000  0.000000
Bottled Water                          1831.0    162.0  1.302469  1.034135
Bowl                                    279.0      2.0  2.000000  1.414214
Burrito                                 313.0      6.0  1.000000  0.000000
Canned Soda                            1621.0    104.0  1.211538  0.476090
Canned Soft Drink                      1829.0    301.0  1.166113  0.495629
Carnitas Bowl                          1831.0     68.0  1.044118  0.269539
Carnitas Burrito                       1821.0     59.0  1.016949  0.130189
Carnitas Crispy Tacos                  1774.0      7.0  1.142857  0.377964
Carnitas Salad                         1500.0      1.0  1.000000       NaN
Carnitas Salad Bowl                    1692.0      6.0  1.000000  0.000000
Carnitas Soft Tacos                    1811.0     40.0  1.000000  0.000000
Chicken Bowl                           1828.0    726.0  1.048209  0.226861
Chicken Burrito                        1817.0    553.0  1.068716  0.305116
Chicken Crispy Tacos                   1775.0     47.0  1.063830  0.247092
Chicken Salad                          1598.0      9.0  1.000000  0.000000
Chicken Salad Bowl                     1834.0    110.0  1.118182  0.324301
Chicken Soft Tacos                     1832.0    115.0  1.043478  0.204824
Chips                                  1831.0    211.0  1.090047  0.303072
Chips and Fresh Tomato Salsa           1790.0    110.0  1.181818  1.369268
Chips and Guacamole                    1832.0    479.0  1.056367  0.264647
Chips and Mild Fresh Tomato Salsa       279.0      1.0  1.000000       NaN
Chips and Roasted Chili Corn Salsa     1513.0     22.0  1.045455  0.213201
Chips and Roasted Chili-Corn Salsa     1565.0     18.0  1.000000  0.000000
Chips and Tomatillo Green Chili Salsa  1787.0     43.0  1.046512  0.213083
Chips and Tomatillo Red Chili Salsa    1779.0     48.0  1.041667  0.201941
Chips and Tomatillo-Green Chili Salsa  1604.0     31.0  1.064516  0.249731
Chips and Tomatillo-Red Chili Salsa    1637.0     20.0  1.250000  0.638666
Crispy Tacos                            217.0      2.0  1.000000  0.000000
Izze                                   1468.0     20.0  1.000000  0.000000
Nantucket Nectar                       1632.0     27.0  1.074074  0.266880
Salad                                   575.0      2.0  1.000000  0.000000
Side of Chips                          1629.0    101.0  1.089109  0.722482
Steak Bowl                             1796.0    211.0  1.047393  0.234278
Steak Burrito                          1833.0    368.0  1.048913  0.239889
Steak Crispy Tacos                     1810.0     35.0  1.028571  0.169031
Steak Salad                            1406.0      4.0  1.000000  0.000000
Steak Salad Bowl                       1818.0     29.0  1.068966  0.257881
Steak Soft Tacos                       1808.0     55.0  1.018182  0.134840
Veggie Bowl                            1780.0     85.0  1.023529  0.152477
Veggie Burrito                         1830.0     95.0  1.021053  0.205196
Veggie Crispy Tacos                     668.0      1.0  1.000000       NaN
Veggie Salad                           1635.0      6.0  1.000000  0.000000
Veggie Salad Bowl                      1818.0     18.0  1.000000  0.000000
Veggie Soft Tacos                      1559.0      7.0  1.142857  0.377964


                                       min  25%  50%  75%   max
item_name
6 Pack Soft Drink                      1.0  1.0  1.0  1.0   2.0
Barbacoa Bowl                          1.0  1.0  1.0  1.0   1.0
Barbacoa Burrito                       1.0  1.0  1.0  1.0   1.0
Barbacoa Crispy Tacos                  1.0  1.0  1.0  1.0   2.0
Barbacoa Salad Bowl                    1.0  1.0  1.0  1.0   1.0
Barbacoa Soft Tacos                    1.0  1.0  1.0  1.0   1.0
Bottled Water                          1.0  1.0  1.0  1.0  10.0
Bowl                                   1.0  1.5  2.0  2.5   3.0
Burrito                                1.0  1.0  1.0  1.0   1.0
Canned Soda                            1.0  1.0  1.0  1.0   4.0
Canned Soft Drink                      1.0  1.0  1.0  1.0   4.0
Carnitas Bowl                          1.0  1.0  1.0  1.0   3.0
Carnitas Burrito                       1.0  1.0  1.0  1.0   2.0
Carnitas Crispy Tacos                  1.0  1.0  1.0  1.0   2.0
Carnitas Salad                         1.0  1.0  1.0  1.0   1.0
Carnitas Salad Bowl                    1.0  1.0  1.0  1.0   1.0
Carnitas Soft Tacos                    1.0  1.0  1.0  1.0   1.0
Chicken Bowl                           1.0  1.0  1.0  1.0   3.0
Chicken Burrito                        1.0  1.0  1.0  1.0   4.0
Chicken Crispy Tacos                   1.0  1.0  1.0  1.0   2.0
Chicken Salad                          1.0  1.0  1.0  1.0   1.0
Chicken Salad Bowl                     1.0  1.0  1.0  1.0   2.0
Chicken Soft Tacos                     1.0  1.0  1.0  1.0   2.0
Chips                                  1.0  1.0  1.0  1.0   3.0
Chips and Fresh Tomato Salsa           1.0  1.0  1.0  1.0  15.0
Chips and Guacamole                    1.0  1.0  1.0  1.0   4.0
Chips and Mild Fresh Tomato Salsa      1.0  1.0  1.0  1.0   1.0
Chips and Roasted Chili Corn Salsa     1.0  1.0  1.0  1.0   2.0
Chips and Roasted Chili-Corn Salsa     1.0  1.0  1.0  1.0   1.0
Chips and Tomatillo Green Chili Salsa  1.0  1.0  1.0  1.0   2.0
Chips and Tomatillo Red Chili Salsa    1.0  1.0  1.0  1.0   2.0
Chips and Tomatillo-Green Chili Salsa  1.0  1.0  1.0  1.0   2.0
Chips and Tomatillo-Red Chili Salsa    1.0  1.0  1.0  1.0   3.0
Crispy Tacos                           1.0  1.0  1.0  1.0   1.0
Izze                                   1.0  1.0  1.0  1.0   1.0
Nantucket Nectar                       1.0  1.0  1.0  1.0   2.0
Salad                                  1.0  1.0  1.0  1.0   1.0
Side of Chips                          1.0  1.0  1.0  1.0   8.0
Steak Bowl                             1.0  1.0  1.0  1.0   3.0
Steak Burrito                          1.0  1.0  1.0  1.0   3.0
Steak Crispy Tacos                     1.0  1.0  1.0  1.0   2.0
Steak Salad                            1.0  1.0  1.0  1.0   1.0
Steak Salad Bowl                       1.0  1.0  1.0  1.0   2.0
Steak Soft Tacos                       1.0  1.0  1.0  1.0   2.0
Veggie Bowl                            1.0  1.0  1.0  1.0   2.0
Veggie Burrito                         1.0  1.0  1.0  1.0   3.0
Veggie Crispy Tacos                    1.0  1.0  1.0  1.0   1.0
Veggie Salad                           1.0  1.0  1.0  1.0   1.0
Veggie Salad Bowl                      1.0  1.0  1.0  1.0   1.0
Veggie Soft Tacos                      1.0  1.0  1.0  1.0   2.0

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
chipo0.values
itnum = 0
for i in range(len(chipo0.values)):
  if chipo0.values[i][2]==chipo2.head(1).index[0][0]:
    itnum+=int(chipo0.values[i][1])
itnum

506

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
chipo3 = chipo0.loc[:,'choice_description'].value_counts()
if chipo3.head(1).index[0][0] == 'NULL':
  print(chipo3.index[1][0])
#chipo3

[Diet Coke]

(choice_description,)
NULL                                     1246
[Diet Coke]                               134
[Coke]                                    123
[Sprite]                                   77
[Lemonade]                                 33
[Coca Cola]                                26
[Nestea]                                   20
[Dr. Pepper]                               18
[Mountain Dew]                             15
[Diet Dr. Pepper]                          13
[Fresh Tomato Salsa]                       11
[Roasted Chili Corn Salsa]                 10
[Tomatillo Red Chili Salsa]                 9
[Clementine]                                8
[Blackberry]                                8
[Peach Orange]                              8
[Pineapple Orange Banana]                   8
[Tomatillo Green Chili Salsa]               6
[Apple]                                     6
[Pomegranate Cherry]                        5
[Grapefruit]                                4
[White Rice]                                2
[Rice]                                      1
[Guacamole]                                 1
[Adobo-Marinated and Grilled Chicken]       1
[Brown Rice]                                1
[Adobo-Marinated and Grilled Steak]         1
dtype: int64

### Step 12. How many items were orderd in total?

In [ ]:
itsum = 0
for i in chipo0['quantity'].values:
  itsum+=int(i)
itsum

2010

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

### Step 15. How many orders were made in the period?

### Step 16. What is the average revenue amount per order?

In [ ]:
# Solution 1

In [ ]:
# Solution 2

### Step 17. How many different items are sold?