<a href="https://colab.research.google.com/github/vick998/Banzae-py/blob/main/importtest0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_excel('/content/drive/My Drive/Colab Notebooks/Untitled 1.xlsx')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df

   key  value type
0  aaa   22.2    x
1  bbb   33.3    y
2  ccc   44.4    z

In [ ]:
df_copy = df.copy()
df_copy

   key  value type
0  aaa   22.2    x
1  bbb   33.3    y
2  ccc   44.4    z

In [ ]:
types = ['x','y','z']
for f in range(3):
 df_copy.iat[f,1] = df.iat[f,1] + 3
 if df.iat[f,2] == types[f]:
   if f==2:
     df_copy.iat[f,2] = types[0]
   else:
     df_copy.iat[f,2] = types[f+1]
 print(df_copy.iat[f,1], df_copy.iat[f,2])

25.2 y
36.3 z
47.4 x

In [ ]:
df.append(df_copy)

   key  value type
0  aaa   22.2    x
1  bbb   33.3    y
2  ccc   44.4    z
0  aaa   25.2    y
1  bbb   36.3    z
2  ccc   47.4    x

In [ ]:
df0 = df.append(df_copy, ignore_index=True)

In [ ]:
df0

   key  value type
0  aaa   22.2    x
1  bbb   33.3    y
2  ccc   44.4    z
3  aaa   25.2    y
4  bbb   36.3    z
5  ccc   47.4    x

In [ ]:
df0.pivot(index="type", columns="key", values="value")

key    aaa   bbb   ccc
type
x     22.2   NaN  47.4
y     25.2  33.3   NaN
z      NaN  36.3  44.4

In [ ]:
types = ['x','y','z']
for f in range(3):
 df_copy.iat[f,1] = df.iat[f,1] + 6
 if df.iat[f,2] == types[f]:
   if f==2:
     df_copy.iat[f,2] = types[1]
   else:
     df_copy.iat[f,2] = types[f-1]
 print(df_copy.iat[f,1], df_copy.iat[f,2])

28.2 z
39.3 x
50.4 y

In [ ]:
df_copy

   key  value type
0  aaa   28.2    z
1  bbb   39.3    x
2  ccc   50.4    y

In [ ]:
df1=df0.append(df_copy, ignore_index=True)

In [ ]:
df1

   key  value type
0  aaa   22.2    x
1  bbb   33.3    y
2  ccc   44.4    z
3  aaa   25.2    y
4  bbb   36.3    z
5  ccc   47.4    x
6  aaa   28.2    z
7  bbb   39.3    x
8  ccc   50.4    y

In [ ]:
df1p = df1.pivot(index="key",columns="type", values="value")

In [ ]:
df1p

type     x     y     z
key
aaa   22.2  25.2  28.2
bbb   39.3  33.3  36.3
ccc   47.4  50.4  44.4

In [ ]:
df1p.stack()

key  type
aaa  x       22.2
     y       25.2
     z       28.2
bbb  x       39.3
     y       33.3
     z       36.3
ccc  x       47.4
     y       50.4
     z       44.4
dtype: float64

In [ ]:
dfm1 = pd.melt(df1, id_vars="key", value_vars=["type","value"], value_name="inputs")

In [ ]:
df1p.loc['aaa','x']

22.2

In [ ]:
df1.loc[df1['aaa']<30]

KeyError: ignored