In [ ]:
import psycopg2 as pg2
import pandas as pd
import re
conn = pg2.connect(database='dvd_rentals', user='victor', password='}H9D^E*PUHTTuB&')
cur = conn.cursor()

In [ ]:
cur.execute("SELECT * FROM film")
filmdata = cur.fetchmany(10)
cur.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'film' ORDER BY ORDINAL_POSITION")
filmcolumns = list()
for i in cur.fetchall():
    filmcolumns.append(i[0])
filmdf = pd.DataFrame(data=filmdata, columns=filmcolumns)
filmdf
#df from film table

In [ ]:
cur.execute("SELECT * FROM actor")
actordata = cur.fetchmany(10)
cur.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'actor' ORDER BY ORDINAL_POSITION")
actorcolumns = list()
for i in cur.fetchall():
    actorcolumns.append(i[0])
actordf = pd.DataFrame(data=actordata, columns=actorcolumns)
actordf
#df from actor table

In [ ]:
cur.execute("SELECT * FROM film_actor")
film_actordata = cur.fetchmany(10)
cur.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'film_actor' ORDER BY ORDINAL_POSITION")
film_actorcolumns = list()
for i in cur.fetchall():
    film_actorcolumns.append(i[0])
film_actordf = pd.DataFrame(data=film_actordata, columns=film_actorcolumns)
film_actordf
#df from film_actor table

In [ ]:
cur.execute("SELECT * FROM rental")
rentaldata = cur.fetchmany(10)
cur.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'rental' ORDER BY ORDINAL_POSITION")
rentalcolumns = list()
for i in cur.fetchall():
    rentalcolumns.append(i[0])
rentaldf = pd.DataFrame(data=rentaldata, columns=rentalcolumns)
rentaldf
#df from rental table

In [ ]:
cur.execute("SELECT * FROM payment")
paymentdata = cur.fetchmany(10)
cur.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'payment' ORDER BY ORDINAL_POSITION")
paymentcolumns = list()
for i in cur.fetchall():
    paymentcolumns.append(i[0])
paymentdf = pd.DataFrame(data=paymentdata, columns=paymentcolumns)
paymentdf
#df from payment table

In [ ]:
cur.execute("SELECT * FROM inventory")
inventorydata = cur.fetchmany(10)
cur.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'inventory' ORDER BY ORDINAL_POSITION")
inventorycolumns = list()
for i in cur.fetchall():
    inventorycolumns.append(i[0])
inventorydf = pd.DataFrame(data=inventorydata, columns=inventorycolumns)
inventorydf
#df from inventory table

In [ ]:
cur.execute("SELECT * FROM film_category")
film_categorydata = cur.fetchmany(10)
cur.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'film_category' ORDER BY ORDINAL_POSITION")
film_categorycolumns = list()
for i in cur.fetchall():
    film_categorycolumns.append(i[0])
film_categorydf = pd.DataFrame(data=film_categorydata, columns=film_categorycolumns)
film_categorydf
#df from film_category table

In [ ]:
cur.execute("SELECT * FROM category")
categorydata = cur.fetchmany(10)
cur.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'category' ORDER BY ORDINAL_POSITION")
categorycolumns = list()
for i in cur.fetchall():
    categorycolumns.append(i[0])
categorydf = pd.DataFrame(data=categorydata, columns=categorycolumns)
categorydf
#df from category table

In [ ]:
cur.execute("SELECT * FROM staff")
staffdata = cur.fetchmany(10)
cur.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'staff' ORDER BY ORDINAL_POSITION")
staffcolumns = list()
for i in cur.fetchall():
    staffcolumns.append(i[0])
staffdf = pd.DataFrame(data=staffdata, columns=staffcolumns)
staffdf
#df from staff table

In [ ]:
cur.execute("SELECT * FROM store")
storedata = cur.fetchmany(10)
cur.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'store' ORDER BY ORDINAL_POSITION")
storecolumns = list()
for i in cur.fetchall():
    storecolumns.append(i[0])
storedf = pd.DataFrame(data=storedata, columns=storecolumns)
storedf
#df from store table

In [ ]:
#1 master
df1 = pd.merge(filmdf, film_actordf, how='left', on='film_id')
df2 = pd.merge(df1, actordf, how='left', on='actor_id')
df3 = pd.merge(df2, inventorydf, how='left', on='film_id')
df4 = pd.merge(df3, rentaldf, how='left', on='inventory_id')
m1 = pd.merge(df4, paymentdf, how='left', on='rental_id')
m1

In [ ]:
#2 master
df11 = pd.merge(filmdf, film_categorydf, how='left', on='film_id')
df12 = pd.merge(df1, categorydf, how='left', on='category_id')
df13 = pd.merge(df2, inventorydf, how='left', on='film_id')
df14 = pd.merge(df3, rentaldf, how='left', on='inventory_id')
m2 = pd.merge(df4, paymentdf, how='left', on='rental_id')
m2

In [ ]:
#3 & 4 master
df21 = pd.merge(filmdf, inventorydf, how='left', on='film_id')
df22 = pd.merge(df1, rentaldf, how='left', on='category_id')
df23 = pd.merge(df2, paymentdf, how='left', on='film_id')
df24 = pd.merge(df3, staffdf, how='left', on='inventory_id')
m3_4 = pd.merge(df4, storedf, how='left', on='rental_id')
m3_4