In [14]:
import psycopg2 as pg2
import pandas as pd
import re
conn = pg2.connect(database='dvd_rentals', user='victor', password='}H9D^E*PUHTTuB&"')
cur = conn.cursor()

In [15]:
cur.execute("SELECT * FROM film")
filmdata = cur.fetchall()
cur.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'film' ORDER BY ORDINAL_POSITION")
filmcolumns = list()
for i in cur.fetchall():
    filmcolumns.append(i[0])
filmdf = pd.DataFrame(data=filmdata, columns=filmcolumns)
filmdf = filmdf.drop(columns='last_update')
filmdf
#df from film table

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,fulltext
0,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,[Trailers],'chamber':1 'fate':4 'husband':11 'italian':2 ...
1,384,Grosse Wonderful,A Epic Drama of a Cat And a Explorer who must ...,2006,1,5,4.99,49,19.99,R,[Behind the Scenes],'australia':18 'cat':8 'drama':5 'epic':4 'exp...
2,8,Airport Pollock,A Epic Tale of a Moose And a Girl who must Con...,2006,1,6,4.99,54,15.99,R,[Trailers],'airport':1 'ancient':18 'confront':14 'epic':...
3,98,Bright Encounters,A Fateful Yarn of a Lumberjack And a Feminist ...,2006,1,4,4.99,73,12.99,PG-13,[Trailers],'boat':20 'bright':1 'conquer':14 'encount':2 ...
4,1,Academy Dinosaur,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,"[Deleted Scenes, Behind the Scenes]",'academi':1 'battl':15 'canadian':20 'dinosaur...
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Young Language,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,6,0.99,183,9.99,G,"[Trailers, Behind the Scenes]",'administr':12 'boat':8 'boy':17 'databas':11 ...
996,997,Youth Kick,A Touching Drama of a Teacher And a Cat who mu...,2006,1,4,0.99,179,14.99,NC-17,"[Trailers, Behind the Scenes]",'boat':22 'cat':11 'challeng':14 'drama':5 'ki...
997,998,Zhivago Core,A Fateful Yarn of a Composer And a Man who mus...,2006,1,6,0.99,105,10.99,NC-17,[Deleted Scenes],'boy':16 'canadian':19 'compos':8 'core':2 'fa...
998,999,Zoolander Fiction,A Fateful Reflection of a Waitress And a Boat ...,2006,1,5,2.99,101,28.99,R,"[Trailers, Deleted Scenes]",'ancient':19 'boat':11 'china':20 'discov':14 ...
999,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3,4.99,50,18.99,NC-17,"[Trailers, Commentaries, Behind the Scenes]","'ark':2 'boy':12,17 'intrepid':4 'mad':8 'mona..."

In [16]:
cur.execute("SELECT * FROM actor")
actordata = cur.fetchall()
cur.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'actor' ORDER BY ORDINAL_POSITION")
actorcolumns = list()
for i in cur.fetchall():
    actorcolumns.append(i[0])
actordf = pd.DataFrame(data=actordata, columns=actorcolumns)
actordf = actordf.drop(columns='last_update')
#df from actor table

In [17]:
cur.execute("SELECT * FROM film_actor")
film_actordata = cur.fetchall()
cur.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'film_actor' ORDER BY ORDINAL_POSITION")
film_actorcolumns = list()
for i in cur.fetchall():
    film_actorcolumns.append(i[0])
film_actordf = pd.DataFrame(data=film_actordata, columns=film_actorcolumns)
film_actordf = film_actordf.drop(columns='last_update')
#df from film_actor table

In [18]:
cur.execute("SELECT * FROM rental")
rentaldata = cur.fetchall()
cur.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'rental' ORDER BY ORDINAL_POSITION")
rentalcolumns = list()
for i in cur.fetchall():
    rentalcolumns.append(i[0])
rentaldf = pd.DataFrame(data=rentaldata, columns=rentalcolumns)
rentaldf = rentaldf.drop(columns='last_update')
#df from rental table

In [19]:
cur.execute("SELECT * FROM payment")
paymentdata = cur.fetchall()
cur.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'payment' ORDER BY ORDINAL_POSITION")
paymentcolumns = list()
for i in cur.fetchall():
    paymentcolumns.append(i[0])
paymentdf = pd.DataFrame(data=paymentdata, columns=paymentcolumns)
paymentdf = paymentdf.drop(columns='payment_date')
#df from payment table

In [20]:
cur.execute("SELECT * FROM inventory")
inventorydata = cur.fetchall()
cur.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'inventory' ORDER BY ORDINAL_POSITION")
inventorycolumns = list()
for i in cur.fetchall():
    inventorycolumns.append(i[0])
inventorydf = pd.DataFrame(data=inventorydata, columns=inventorycolumns)
inventorydf = inventorydf.drop(columns='last_update')
#df from inventory table

In [21]:
cur.execute("SELECT * FROM film_category")
film_categorydata = cur.fetchall()
cur.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'film_category' ORDER BY ORDINAL_POSITION")
film_categorycolumns = list()
for i in cur.fetchall():
    film_categorycolumns.append(i[0])
film_categorydf = pd.DataFrame(data=film_categorydata, columns=film_categorycolumns)
film_categorydf = film_categorydf.drop(columns='last_update')
#df from film_category table

In [22]:
cur.execute("SELECT * FROM category")
categorydata = cur.fetchall()
cur.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'category' ORDER BY ORDINAL_POSITION")
categorycolumns = list()
for i in cur.fetchall():
    categorycolumns.append(i[0])
categorydf = pd.DataFrame(data=categorydata, columns=categorycolumns)
categorydf = categorydf.drop(columns='last_update')
#df from category table

In [23]:
cur.execute("SELECT * FROM staff")
staffdata = cur.fetchall()
cur.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'staff' ORDER BY ORDINAL_POSITION")
staffcolumns = list()
for i in cur.fetchall():
    staffcolumns.append(i[0])
staffdf = pd.DataFrame(data=staffdata, columns=staffcolumns)
staffdf = staffdf.drop(columns='last_update')
#df from staff table

In [24]:
cur.execute("SELECT * FROM store")
storedata = cur.fetchall()
cur.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'store' ORDER BY ORDINAL_POSITION")
storecolumns = list()
for i in cur.fetchall():
    storecolumns.append(i[0])
storedf = pd.DataFrame(data=storedata, columns=storecolumns)
storedf = storedf.drop(columns='last_update')
#df from store table

In [25]:
#1 master
df1 = pd.merge(filmdf, film_actordf, how='left', on='film_id')
df2 = pd.merge(df1, actordf, how='left', on='actor_id')
df3 = pd.merge(df2, inventorydf, how='left', on='film_id')
rentaldf = rentaldf.drop(columns='customer_id')
df4 = pd.merge(df3, rentaldf, how='left', on='inventory_id')
paymentdf = paymentdf.drop(columns=['customer_id','staff_id'])
m1 = pd.merge(df4, paymentdf, how='left', on='rental_id')
paymentdf = pd.DataFrame(data=paymentdata, columns=paymentcolumns)
paymentdf = paymentdf.drop(columns='payment_date')
m1

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,...,first_name,last_name,inventory_id,store_id,rental_id,rental_date,return_date,staff_id,payment_id,amount
0,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,...,Alec,Wayne,612.0,1.0,4321.0,2005-07-07 17:52:38,2005-07-11 23:37:38,1.0,30006.0,4.99
1,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,...,Alec,Wayne,612.0,1.0,10137.0,2005-07-31 22:01:41,2005-08-07 22:24:41,1.0,31589.0,4.99
2,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,...,Alec,Wayne,612.0,1.0,14741.0,2006-02-14 15:16:03,NaT,2.0,32034.0,0.00
3,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,...,Alec,Wayne,613.0,1.0,9481.0,2005-07-30 23:26:05,2005-08-04 17:46:05,1.0,27576.0,4.99
4,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,...,Alec,Wayne,613.0,1.0,11710.0,2005-08-17 07:29:44,2005-08-19 02:06:44,2.0,22214.0,4.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88265,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3,4.99,50,18.99,NC-17,...,Lisa,Monroe,4581.0,2.0,711.0,2005-05-29 03:49:03,2005-05-31 08:29:03,2.0,NaN,NaN
88266,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3,4.99,50,18.99,NC-17,...,Lisa,Monroe,4581.0,2.0,1493.0,2005-06-15 21:50:32,2005-06-17 01:02:32,2.0,19381.0,4.99
88267,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3,4.99,50,18.99,NC-17,...,Lisa,Monroe,4581.0,2.0,6712.0,2005-07-12 13:24:47,2005-07-20 09:35:47,2.0,31454.0,9.99
88268,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3,4.99,50,18.99,NC-17,...,Lisa,Monroe,4581.0,2.0,9701.0,2005-07-31 07:32:21,2005-08-01 05:07:21,2.0,26689.0,4.99
88269,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3,4.99,50,18.99,NC-17,...,Lisa,Monroe,4581.0,2.0,12894.0,2005-08-19 03:49:28,2005-08-25 01:51:28,2.0,22110.0,7.99

In [26]:
#2 master
df11 = pd.merge(filmdf, film_categorydf, how='left', on='film_id')
df12 = pd.merge(df11, categorydf, how='left', on='category_id')
df13 = pd.merge(df12, inventorydf, how='left', on='film_id')
df14 = pd.merge(df13, rentaldf, how='left', on='inventory_id')
paymentdf = paymentdf.drop(columns = ['customer_id','staff_id'])
m2 = pd.merge(df14, paymentdf, how='left', on='rental_id')
paymentdf = pd.DataFrame(data=paymentdata, columns=paymentcolumns)
paymentdf = paymentdf.drop(columns='payment_date')
m2

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,...,category_id,name,inventory_id,store_id,rental_id,rental_date,return_date,staff_id,payment_id,amount
0,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,...,12,Music,612.0,1.0,4321.0,2005-07-07 17:52:38,2005-07-11 23:37:38,1.0,30006.0,4.99
1,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,...,12,Music,612.0,1.0,10137.0,2005-07-31 22:01:41,2005-08-07 22:24:41,1.0,31589.0,4.99
2,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,...,12,Music,612.0,1.0,14741.0,2006-02-14 15:16:03,NaT,2.0,32034.0,0.00
3,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,...,12,Music,613.0,1.0,9481.0,2005-07-30 23:26:05,2005-08-04 17:46:05,1.0,27576.0,4.99
4,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,...,12,Music,613.0,1.0,11710.0,2005-08-17 07:29:44,2005-08-19 02:06:44,2.0,22214.0,4.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16086,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3,4.99,50,18.99,NC-17,...,5,Comedy,4581.0,2.0,711.0,2005-05-29 03:49:03,2005-05-31 08:29:03,2.0,NaN,NaN
16087,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3,4.99,50,18.99,NC-17,...,5,Comedy,4581.0,2.0,1493.0,2005-06-15 21:50:32,2005-06-17 01:02:32,2.0,19381.0,4.99
16088,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3,4.99,50,18.99,NC-17,...,5,Comedy,4581.0,2.0,6712.0,2005-07-12 13:24:47,2005-07-20 09:35:47,2.0,31454.0,9.99
16089,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3,4.99,50,18.99,NC-17,...,5,Comedy,4581.0,2.0,9701.0,2005-07-31 07:32:21,2005-08-01 05:07:21,2.0,26689.0,4.99
16090,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3,4.99,50,18.99,NC-17,...,5,Comedy,4581.0,2.0,12894.0,2005-08-19 03:49:28,2005-08-25 01:51:28,2.0,22110.0,7.99

In [27]:
#3 & 4 master
df21 = pd.merge(filmdf, inventorydf, how='left', on='film_id')
df22 = pd.merge(df21, rentaldf, how='left', on='inventory_id')
paymentdf = paymentdf.drop(columns = ['customer_id','staff_id'])
df23 = pd.merge(df22, paymentdf, how='left', on='rental_id')
staffdf = staffdf.drop(columns='store_id')
df24 = pd.merge(df23, staffdf, how='left', on='staff_id')
m3_4 = pd.merge(df24, storedf, how='left', on='store_id')
m3_4

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,...,first_name,last_name,address_id_x,email,active,username,password,picture,manager_staff_id,address_id_y
0,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,...,Mike,Hillyer,3.0,Mike.Hillyer@sakilastaff.com,True,Mike,8cb2237d0679ca88db6464eac60da96345513964,"[b'\x89', b'P', b'N', b'G', b'\r', b'\n', b'Z'...",1.0,1.0
1,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,...,Mike,Hillyer,3.0,Mike.Hillyer@sakilastaff.com,True,Mike,8cb2237d0679ca88db6464eac60da96345513964,"[b'\x89', b'P', b'N', b'G', b'\r', b'\n', b'Z'...",1.0,1.0
2,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,...,Jon,Stephens,4.0,Jon.Stephens@sakilastaff.com,True,Jon,8cb2237d0679ca88db6464eac60da96345513964,None,1.0,1.0
3,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,...,Mike,Hillyer,3.0,Mike.Hillyer@sakilastaff.com,True,Mike,8cb2237d0679ca88db6464eac60da96345513964,"[b'\x89', b'P', b'N', b'G', b'\r', b'\n', b'Z'...",1.0,1.0
4,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,...,Jon,Stephens,4.0,Jon.Stephens@sakilastaff.com,True,Jon,8cb2237d0679ca88db6464eac60da96345513964,None,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16086,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3,4.99,50,18.99,NC-17,...,Jon,Stephens,4.0,Jon.Stephens@sakilastaff.com,True,Jon,8cb2237d0679ca88db6464eac60da96345513964,None,2.0,2.0
16087,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3,4.99,50,18.99,NC-17,...,Jon,Stephens,4.0,Jon.Stephens@sakilastaff.com,True,Jon,8cb2237d0679ca88db6464eac60da96345513964,None,2.0,2.0
16088,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3,4.99,50,18.99,NC-17,...,Jon,Stephens,4.0,Jon.Stephens@sakilastaff.com,True,Jon,8cb2237d0679ca88db6464eac60da96345513964,None,2.0,2.0
16089,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3,4.99,50,18.99,NC-17,...,Jon,Stephens,4.0,Jon.Stephens@sakilastaff.com,True,Jon,8cb2237d0679ca88db6464eac60da96345513964,None,2.0,2.0
16090,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3,4.99,50,18.99,NC-17,...,Jon,Stephens,4.0,Jon.Stephens@sakilastaff.com,True,Jon,8cb2237d0679ca88db6464eac60da96345513964,None,2.0,2.0